<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
                <link rel='stylesheet' type=text/css href="{{ url_for('static', filename='css/individualbudget.css')}}">

        <title>Budget</title>
    </head>
    <body>


        <div class="top">
            <div class="budget">
                <div class="budget__title">
                    Money left for
                    {{ budget_first.B_name }}
                </div>

                <div class="budget__value"> {% for trans in transactions %}
        {% if trans.budget_id==budget_first.id %}
    <p>

    {% set budget2 = budget_first.B_Amount  | int %}

    {{ budget2 - trans.total }} Ringgit


</p>
        {% endif %}

{% endfor %}</div>

                <div class="budget__income clearfix">
                    <div class="budget__income--text">Income</div>
                    <div class="right">
                        <div class="budget__income--value">
                            <form name='form1' action="{{url_for('showindi',budget_id=budget_first.id)}}" method="post">
                            <input id="budget1"type="text" name="budgetname" value=" {{ budget_first.B_Amount }} ">RM

                            <style>
                                #budget1{
                                    width:50px;
                                }
                            </style>
  <input type="submit" name='budgetsubmit' value="Update Budget">
                                </form>
                        </div>
                        <div class="budget__income--percentage">&nbsp;</div>
                    </div>
                </div>

                <div class="budget__expenses clearfix">
                    <div class="budget__expenses--text">Expenses</div>
                    <div class="right clearfix">
                        <div class="budget__expenses--value">- {% for trans in transactions %}
        {% if trans.budget_id==budget_first.id %}


    {% set budget2 = budget_first.B_Amount  | int %}

    {{ trans.total }} RM



        {% endif %}

{% endfor %}</div>
                        <div class="budget__expenses--percentage">{% for trans in transactions %}
        {% if trans.budget_id==budget_first.id %}


    {% set budget2 = budget_first.B_Amount  | int %}
            {% set transtotal = trans.total  | int %}
             {% set proc_err1 = (transtotal/budget2)*100 %}



    {{ '%0.1f'| format(proc_err1|float) }} %



        {% endif %}

{% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>



        <div class="bottom">
       <form  action="{{url_for('showindividualbudget',budget_id=budget_first.id)}}" method='POST'>
            <div class="add" >
                <div class="add__container">


                     <select id="myDIV1" class="add__description" name="categoryname" >
           {%  for category in categoriesfull %}
    <option value="{{category.C_name}}" name="{{ category.id }}">{{ category.C_name}}</option>
{% endfor %}

  </select>
                 <input type="text" class=" add__description1" placeholder="Add description (Optional)" name="description">
                    <input id="myDIV2" type="number" class="add__value" name="amount" placeholder="Value">
                      <input type="submit" name='enter' value="Enter">
                   </form>
            <script>
function myFunction() {
    document.getElementById("myDIV").classList.toggle("red-focus");
      document.getElementById("myDIV1").classList.toggle("red-focus");
      document.getElementById("myDIV2").classList.toggle("red-focus");
      document.getElementById("myDIV3").classList.toggle("red-focus");
     document.getElementById("myDIV3").classList.toggle("red");

}
</script>
                </div>
            </div>



                        <!--
                        <div class="item clearfix" id="income-0">
                            <div class="item__description">Salary</div>
                            <div class="right clearfix">
                                <div class="item__value">+ 2,100.00</div>
                                <div class="item__delete">
                                    <button class="item__delete--btn">
                                        <i class="ion-ios-close-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="item clearfix" id="income-1">
                            <div class="item__description">Sold car</div>
                            <div class="right clearfix">
                                <div class="item__value">+ 1,500.00</div>
                                <div class="item__delete">
                                    <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                                </div>
                            </div>
                        </div>
                        -->



                <div class="expenses">
                <br>
                    <h2 class="expenses__title">Expenses</h2>

                    <div class="expenses__list">


 {% for g in groupbytransactions %}
         {% set budget2 = budget_first.B_Amount  | int %}
            {% set transtotal = g.transaction_category  | int %}


                    <div class="item clearfix" >
                        <div  class="item__description clearfix"> {{ g.C_name }}   </div>
                         <div  class=" clearfix item__description item2">{{ g.description }} </div>
                        <div  class=" right  clearfix ">
                            <div class="item__value">{{ g.transaction_category }} RM</div>
                            {% set proc_err = (transtotal/budget2)*100 %}
                             <div class="item__percentage">{{'%0.1f'| format(proc_err|float)}}%</div>

                                <div class="item__delete">
                                    <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                                </div>
                        </div>
                    </div>


        {% endfor %}



                        <!--
                        <div class="item clearfix" id="expense-0">
                            <div class="item__description">Apartment rent</div>
                            <div class="right clearfix">
                                <div class="item__value">- 900.00</div>
                                <div class="item__percentage">21%</div>
                                <div class="item__delete">
                                    <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="item clearfix" id="expense-1">
                            <div class="item__description">Grocery shopping</div>
                            <div class="right clearfix">
                                <div class="item__value">- 435.28</div>
                                <div class="item__percentage">10%</div>
                                <div class="item__delete">
                                    <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                                </div>
                            </div>
                        </div>
                        -->

                    </div>
                </div>
            </div>


        </div>


        <script src="/static/js/app.js"></script>


    </body>
</html>
