
{% block body %}

  <form action="{{url_for('login')}}" method=post class="form-horizontal">
    <h2>Sign-in to Expense Management Application </h2>
      {% with messages = get_flashed_messages() %}
       {% if messages %}

        <ul>
         {% for message in messages %}
           <li><strong>{{message}}</strong></li>
         {% endfor %}
       </ul>
       {% endif %}
     {% endwith %}
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
{% endblock %}